h1 {
      color: brown;
    }

* {
    border: solid;
}

.header{
    background-color: turquoise;

    display : flex;

    justify-content: space-between;
}

.description{
    display: flex;
    background-color: aqua;
    text-align: center;
    flex-direction: column;

}      

.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

p,h1{
    text-align: center;
}


.footer{
    display: flex;
    justify-content: flex-end;
}